<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral,&#xA;PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaxPaymentsGEL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/ErrorPages/Oops.aspx">
      <error statusCode="404" redirect="~/ErrorPages/404.aspx" />
    </customErrors>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PaymentActivation" value="True" />
    <add key="UrlACH" value="https://200.1.124.118/PSEWebServices3/mainservices.asmx" />
    <add key="PSE_URL" value="https://200.1.124.118/PSEWebServices3/mainservices.asmx" />
    <add key="PPE_URL" value="https://181.143.126.122:11210/RespuestaPago.aspx" />
    <add key="URL_MunicipioGiron" value="http://siim.giron-santander.gov.co/siimpse/menu.php" />
    <add key="EAFloridablanca" value="https://186.183.182.165:8443/Bancolombia/ServicioBancolombiaImpl" />
    <add key="EALosPatios" value="http://186.183.182.165:8787/BancolombiaPatios/ServicioBancolombiaImpl" />
    <add key="PPE_CODE" value="890680008" />
    <add key="PSE_CODE" value="1001" />
    <add key="BANK_CODE" value="123456789" />
    <add key="MUN_CODE" value="" />
    <add key="MostrarError" value="false" />
    <add key="SmtpServer" value="192.168.0.112" />
    <add key="HostURLEAAVWS" value="http://app.eaav.gov.co" />
    <add key="ResourceURLEAAVWS" value="/factura/bancolombia2/" />
    <add key="HostURLPradmaWS" value="http://pradmasolutions.com/CheckPaid/Predial" />
    <add key="HostURLPradmaWSInd" value="http://pradmasolutions.com/checkpaid/indcom" />
    <add key="HostURLPtoColombiaWS" value="https://www.impuestospuertocolombia-atlantico.com/impuestos-webservice/ClientePuertoBean" />
    <add key="rutaFormulario" value="http://www.sopo-cundinamarca.gov.co/Ciudadanos/Paginas/Inscripcion-Media-Maraton.aspx" />
    <add key="URL_MunicipioGiron" value="http://siim.giron-santander.gov.co/siimpse/menu.php" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="apiGEL" value="http://192.168.20.142:9892/api/Ciudadano/" />
  </appSettings>
  <connectionStrings>
    <add name="oCnx" connectionString="Data Source=DESKTOP-MO89OOC\SQLDLLO;  Initial Catalog=DB_TRANSACH; Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <microsoft.web.services3>
    <security>
      <x509 allowTestRoot="true" revocationMode="NoCheck" />
    </security>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
      <detailedErrors enabled="true" />
    </diagnostics>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServices.Publicadores.ws1cero1.NotificacionPagoPSESoapBinding" />
        <binding name="BasicHttpBinding_IGetDatosTCR" />
        <binding name="BasicHttpBinding_IWCFTransaccion" />
        <binding name="ServicioSoap" />
        <binding name="ServicioSoap1" />
        <binding name="ServicioSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="ServicioSoap3" />
        <binding name="ServicioSoap4" />
        <binding name="ServicioSoap5" />
        <binding name="PSEPortBinding" />
        <binding name="BasicHttpBinding_IDatos" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://puertoboyaca-boyaca.softwaretributario.com/webservices.publicadores.ws1cero1.anotificacionpagopse.aspx" binding="basicHttpBinding" bindingConfiguration="WebServices.Publicadores.ws1cero1.NotificacionPagoPSESoapBinding" contract="WCFComercializadora.WebServicesPublicadoresws1cero1NotificacionPagoPSESoapPort" name="WebServices.Publicadores.ws1cero1.NotificacionPagoPSESoapPort" />
      <endpoint address="http://190.248.37.181:51530/GetDatosTCR.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetDatosTCR" contract="WCFDatos.IGetDatosTCR" name="BasicHttpBinding_IGetDatosTCR" />
      <endpoint address="http://52.179.171.150:31500/TiquetesPalermo/WCFTransaccion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFTransaccion" contract="WCFTiquetePalermo.IWCFTransaccion" name="BasicHttpBinding_IWCFTransaccion" />
      <endpoint address="http://andes.erpv6.co:2044/servicio.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioSoap" contract="WSAndes.ServicioSoap" name="ServicioSoap" />
      <endpoint address="http://190.109.169.90/wsbc/servicio.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioSoap1" contract="WSApartado.ServicioSoap" name="ServicioSoap1" />
      <endpoint address="https://190.0.8.38/wsbc/servicio.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioSoap2" contract="WSCopacabana.ServicioSoap" name="ServicioSoap2" />
      <endpoint address="http://184.173.51.2/wsbc/servicio.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioSoap4" contract="WSPradera.ServicioSoap" name="ServicioSoap3" />
      <endpoint address="http://200.35.38.246/wsbc/servicio.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioSoap5" contract="WSSanPedroMilagros.ServicioSoap" name="ServicioSoap4" />
      <endpoint address="http://190.25.48.242:8085/WebServices/PSE" binding="basicHttpBinding" bindingConfiguration="PSEPortBinding" contract="WSSiiweb.PSE" name="PSEPort" />
      <endpoint address="http://52.184.183.88:31400/Usuario/Datos.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatos" contract="WTramites.IDatos" name="BasicHttpBinding_IDatos" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <TaxPaymentsGEL.Properties.Settings>
      <setting name="TaxPaymentsGEL_WSGiron_MovilidadyServiciosSIIM" serializeAs="String">
        <value>http://181.143.219.235/siimpel/wssiim/ws_siim.php</value>
      </setting>
    </TaxPaymentsGEL.Properties.Settings>
  </applicationSettings>
</configuration>