<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style=" PADDING-TOP: 60PX;">
    <table width="90%" align="center" border="0" cellpadding="0" cellspacing="0" style=" border-collapse: collapse; font-size: 10px; font-family: 'Lucida Grand', Verdana, sans-serif;">
        <tbody>
            <tr>
                <td width="5%" align="center" style=" padding: 20px 10px;">
                    <img src="{ImgColombia}" width="100">
                </td>
                <td width="5%" align="center" style="padding: 20px 10px;">
                    <img src="{ImgMunicipio}" width="80">
                </td>
                <td width="90%" align="left" style="padding: 20px 10px;">
                    <span style=" font-size: 30px; font-family: 'Lucida Grand', Verdana, sans-serif;">{NombreMunicipio}</span>
                </td>
            </tr>
        </tbody>
    </table>
    &nbsp;
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" style=" background: rgb(229, 232, 223); border-collapse: collapse; margin-top: 40px;
    margin-bottom: 5px;font-size: 10px; font-family: 'Lucida Grand', Verdana, sans-serif;">
        <tbody>
            <tr>
                <td colspan="2" align="center" style="background: #008e4c; padding: 5px 10px; border-bottom: 1px solid #008045; color: #fff; font-size: 22px;"><strong>DATOS DEL PAGO</strong></td>
            </tr>
            <tr>
                <td>
                    <table width="70%" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-collapse: collapse; font-size: 16px; font-family: 'Lucida Grand', Verdana, sans-serif;">
                        <tbody>
                            <tr>
                                <td style=" padding: 5px 10px;">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-color: rgba(0,0,0,0.1); font-size: 16px; font-family: 'Lucida Grand', Verdana, sans-serif;">
                                        <tbody>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Estado Transacción</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{EstadoTransaccion}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Número Autorización/CUS</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{CUS}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Banco</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{Banco}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Descripción</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{Descripcion}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Valor Transacción</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{ValorTransaccion}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Número Factura</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{NumeroFactura}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Fecha Solicitud</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{FechaSolicitud}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Fecha Respuesta</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{FechaRespuesta}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Ciclo Transacción</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{CicloTransaccion}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Valor Iva</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{ValorIva}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    &nbsp;
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" style=" background: rgb(229, 232, 223); margin-top: 40px;
    margin-bottom: 5px;border-collapse: collapse; font-size: 18px; font-family: 'Lucida Grand', Verdana, sans-serif;">
        <tbody>
            <tr>
                <td colspan="2" align="center" style="background: #008e4c; padding: 5px 10px; border-bottom: 1px solid #008045; color: #fff; font-size: 22px;"><strong>DATOS DEL CLIENTE</strong></td>
            </tr>
            <tr>
                <td>
                    <table width="70%" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-collapse: collapse; font-size: 16px; font-family: 'Lucida Grand', Verdana, sans-serif;">
                        <tbody>
                            <tr>
                                <td style=" padding: 5px 10px;">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-color: rgba(0,0,0,0.1); font-size: 16px; font-family: 'Lucida Grand', Verdana, sans-serif;">
                                        <tbody>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Nombre</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{Nombre}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Identificación</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{Identificacion}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Teléfono</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{Telefono}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">E-mail</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{Email}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Dirección IP</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{IP}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    &nbsp;
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" style=" background: rgb(229, 232, 223); border-collapse: collapse; margin-top: 40px;
    margin-bottom: 5px;font-size: 10px; font-family: 'Lucida Grand', Verdana, sans-serif;">
        <tbody>
            <tr>
                <td colspan="2" align="center" style="background: #008e4c; padding: 5px 10px; border-bottom: 1px solid #008045; color: #fff; font-size: 22px;"><strong>DATOS DEL MUNICIPIO</strong></td>
            </tr>
            <tr>
                <td>
                    <table width="70%" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-collapse: collapse; font-size: 16px; font-family: 'Lucida Grand', Verdana, sans-serif;">
                        <tbody>
                            <tr>
                                <td style=" padding: 5px 10px;">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-color: rgba(0,0,0,0.1); font-size: 16px; font-family: 'Lucida Grand', Verdana, sans-serif;">
                                        <tbody>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Nombre Municipio</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{NameMunicipio}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Nit</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{Nit}</strong></td>
                                            </tr>
                                            <tr>
                                                <td width="60%" align="left" style=" padding: 3px 10px;">Teléfono</td>
                                                <td width="40%" align="right" style=" padding: 3px 10px;"><strong>{TelefonoMunicipio}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>